.login {
	animation: trans 3s infinite;
}

#new-chat-plus-button {
	height: unset !important;
}

.anticon {
	vertical-align: unset !important;
}

.ce-chat-engine {
	height: calc(100vh - 95px);
}

.ce-chat-engine .ce-wrapper {
	height: 100%;
}
@keyframes trans {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(0%);
	}
}
